# Build artifacts
build/
out/*
!out/deflection_log.csv
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# VSCode junk
.vscode/

# Python cached files
__pycache__/
*.pyc

# MacOS junk
.DS_Store

# Binaries
*.exe
*.out
*.o
